CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
!/build/measure/raw_sample_data_MU_Y_MU2L_82-32N_0.csv
.vscode/
